* {
    border: 1px solid blue;
}

header {
    display: flex;
    justify-content: space-between;
}
h1 {
    display: inline;
    flex: 0 1 calc(100%/1/3);
    text-align: center;
    order: 2;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    /* height: 85vh; */
    
}
/* section {
    display: flex;
    justify-content: center;
    align-items: center;
} */



/* class selectors */
.hidden {
    display: none;
}
/* .questions {
    text-align: center;
}
.answers {
    text-align: left;
    padding: 5px;
    list-style-type: decimal;
} */

/* id selectors */

#highscore-ul {
    list-style-type: none;
    display: inline;
    padding: 5px;
    flex: 0 1 auto;
    order: 1;
}
#timer-ul {
    list-style-type: none;
    display: inline;
    padding: 5px;
    flex: 0 1 auto;
    order: 3;
}
/* #quiz-beginning-container {
    text-align: center;
    font-size: 23px;
    order: 1;
}
#quiz-end-end-container {
    /* display: inline; 
    /* text-align: center; 
    /* display: none; 
    /* order: 3; 
    /* flex: 0 1 calc(100%/1/3); 
 } */
/* #quiz-container {
    display: inline;
    order: 2;
    flex: 0 1 calc(100%/1/3);
    padding: 3px;;
} */
/* #quiz-hs{
    display: inline;  
    /* text-align: center; */
    /* display: none; */
    /* order: 4; */
    /* flex: 0 1 calc(100%/1/3);
}
/*  */
#quiz-beginning-container, 
#quiz-end-container,
#quiz-container,
#quiz-hs-container {
    /* flex-basis: calc(100%/1/2); */
    min-height: 300px;
    width: 50%;
    /* display: block; note: had to remove this; was style conflicting*/
    margin-left: auto;
    margin-right: auto;
}

/* #start-button {
    display: block;
    position: relative;
    margin-top: 5px;
    left: 43%;
    
}  */

button,
input {
    display: block;
    position: relative;
    margin-top: 5px;
    left: 43%;
}
label {
    left: 43%;
    position: relative;
}